
body {
    background-color: lightblue;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#container {
    width: 100%;
    height: 100%;
}

#mainmenu {
    width: 75%;
    height: 300%;
    float: left;
    border: 3px solid black;
}

.logo {
    float: left;
    width: 30%;
    height: 300px;
}

.navbackground {
    float: left;
    width:70%;
    height: 300px;
}

#social {
    font-family: Arial, Helvetica, sans-serif;
    width: 24%;
    height: 300px;
    background-color: white;
    border: 3px solid black;
    float: right;
    align-content: center;
}

.facebook1 {
    padding: 12px;
    width: 20%;
}

.tumblr {
    padding: 12px;
    width: 20%;
}

.youtube {
    padding: 12px;
    width: 20%;
}

.instagram1 {
    padding: 12px;
    width: 20%;
}

.twitter1 {
    padding: 12px;
    width: 20%;
}

.pinterest {
    padding: 12px;
    width: 20%;
}

#nav {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 10px;
    clear: both;
    display: inline-block;
    text-align: center;
}

#home {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    padding-left: 7%;
    padding-right: 7%;
}

#previous {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    padding-left: 7%;
    padding-right: 7%;
}


#about {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    padding-left: 7%;
    padding-right: 7%;
}

#contact {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    padding-left: 7%;
    padding-right: 7%;
}

ul {
    background-color: white;
    list-style-type: none;
    width: 97%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    border: 3px solid black;
    align-content: center;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    display: inline;
    text-align: center;
}

li a {
    display: block;
    float: left;
}

a {
    color: black;
    text-decoration: none;
    display: inline;
}

#gallery {
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    align-content: center;
}

#image1 {
  display: block;
  width: 27%;
  height: auto;
  float: left;
  padding: 20px;
}

#image2 {
  display: block;
  width: 27%;
  height: auto;
  float: left;
  padding: 20px;
}

#image3 {
  display: block;
  width: 27%;
  height: auto;
  float: left;
  padding: 20px;
}

.italyphoto1 {
    width: 100%;
    padding: 10px;
}

.italyphoto2 {
    width: 100%;
    padding: 10px;
}

.italyphoto3 {
    width: 100%;
    padding: 10px;
}

.francephoto1 {
    width: 100%;
    padding:10px;
}

.francephoto2 {
    width: 100%;
    padding: 10px;
}

.francephoto3 {
    width: 100%;
    padding: 10px;
}
.germanyphoto1 {
    width: 100%;
    padding:10px;
}

.germanyphoto2 {
    width: 100%;
    padding: 10px;
}

.germanyphoto3 {
    width: 100%;
    padding: 10px;
}

.austriaphoto1 {
    width: 100%;
    padding:10px;
}

.austriaphoto2 {
    width: 100%;
    padding: 10px;
}

.austriaphoto3 {
    width: 100%;
    padding: 10px;
}

.spainphoto1 {
    width: 100%;
    padding:10px;
}

.spainphoto2 {
    width: 100%;
    padding: 10px;
}

.spainphoto3 {
    width: 100%;
    padding: 10px;
}

.amsterdamphoto1 {
    width: 100%;
    padding:10px;
}

.amsterdamphoto2 {
    width: 100%;
    padding: 10px;
}

.amsterdamphoto3 {
    width: 100%;
    padding: 10px;
}

#content {
    width: 80%;
    align-content: center;
    border: 3px solid black;
    padding: 20px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

h2 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:40px
}

p {
    font-size: 20px;
    text-decoration: none;
}

#feedback {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    padding: 20px;

}

#name {
    width: 80%;
}

#email {
    width: 80%;
}

#comment {
    width: 85%;
}

a:link {
    color:black;
}

a:visited {
    color:black;
}

#post1 {
    border: 3px solid black;
    padding: 10px;
}

#post2 {
    border: 3px solid black;
    padding: 10px;
}

#post3 {
    border: 3px solid black;
    padding: 10px;
}

#post4 {
    border: 3px solid black;
    padding: 10px;
}

#post5 {
    border: 3px solid black;
    padding: 10px;
}

#staff1 {
    border: 3px solid black;
    padding: 10px;
    text-align: left;
}

#staff2 {
    border: 3px solid black;
    padding: 10px;
    text-align: left;
}

#staff3 {
    border: 3px solid black;
    padding: 10px;
    text-align: left;
}

#staff4 {
    border: 3px solid black;
    padding: 10px;
    text-align: left;
}

#staff5 {
    border: 3px solid black;
    padding: 10px;
    text-align: left;
}

#staffphoto1 {
    float: left;
    width: 200px;
    padding: 20px;
}

#staffphoto2 {
    float: left;
    width: 200px;
    padding: 20px;
}

#staffphoto3 {
    float: left;
    width: 200px;
    padding: 20px;
}

#staffphoto4 {
    float: left;
    width: 200px;
    padding: 20px;
}

#staffphoto5 {
    float: left;
    width: 200px;
    padding: 20px;
}

.staff1 {
    width: 100%;
}

.staff2 {
    width: 100%;
}

.staff3 {
    width: 100%;
}

.staff4 {
    width: 100%;
}

.staff5 {
    width: 100%;
}


h1 {
    text-align: left;
    font-size:25px;
}

h3 {
    text-align: left;
    font-size:15px;
}

h4 {
    font-size:20px;
}

#faqs {
    border: 3px solid black;
    padding: 10px;
}

#faqs1 {
    border: 3px solid black;
    padding: 10px;
}

#faqs2 {
    border: 3px solid black;
    padding: 10px;
}

#faqs3 {
    border: 3px solid black;
    padding: 10px;
}

#faqs4 {
    border: 3px solid black;
    padding: 10px;
}